<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907988915089-59mqk2q3p7kv00prf4cb4leg7gii1vhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907988915089-59mqk2q3p7kv00prf4cb4leg7gii1vhm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>907988915089-0jnf7g50dosna4mfts7ibjlo4valhg4j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBesPATNPXe4CtJn9RQJUqgMKcouj5IqYw</string>
	<key>GCM_SENDER_ID</key>
	<string>907988915089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlphaPro</string>
	<key>PROJECT_ID</key>
	<string>alpha-pro-302715</string>
	<key>STORAGE_BUCKET</key>
	<string>alpha-pro-302715.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907988915089:ios:51b612c1d56c99ade4c030</string>
</dict>
</plist>